<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />  <!-- Turn on Autowired -->

    <context:component-scan base-package="com.project.surveyengine.config"/>

    <!--Controllers-->
    <bean id="inboxController" class="com.project.surveyengine.controller.InboxController" autowire="byType"></bean>
    <bean id="dashboardController" class="com.project.surveyengine.controller.DashboardController" autowire="byType"></bean>
    <bean id="surveyController" class="com.project.surveyengine.controller.SurveyController" autowire="byType"></bean>
    <bean id="reportController" class="com.project.surveyengine.controller.ReportController" autowire="byType"></bean>
    <bean id="mailController" class="com.project.surveyengine.controller.MailController" autowire="byType"></bean>
    <bean id="errorController" class="com.project.surveyengine.controller.ErrorController" autowire="byType"></bean>
    <bean id="loginController" class="com.project.surveyengine.controller.LoginController" autowire="byType"></bean>
    <bean id="initController" class="com.project.surveyengine.controller.InitController" autowire="byType"></bean>
    <bean id="userController" class="com.project.surveyengine.controller.UserController" autowire="byType"></bean>
    <bean id="customerController" class="com.project.surveyengine.controller.CustomerController" autowire="byType"></bean>
    <bean id="timelineController" class="com.project.surveyengine.controller.TimelineController" autowire="byType"></bean>
    <bean id="customerContactController" class="com.project.surveyengine.controller.CustomerContactController" autowire="byType"></bean>
    <bean id="customerExternalRatingController" class="com.project.surveyengine.controller.CustomerExternalRatingController" autowire="byType"></bean>
    <bean id="homeController" class="com.project.surveyengine.controller.HomeController" autowire="byType"></bean>
    <bean id="ratingTypeController" class="com.project.surveyengine.controller.RatingTypeController" autowire="byType"></bean>


    <bean id="surveyService" class="com.project.surveyengine.service.impl.SurveyService" autowire="byType"></bean>
    <bean id="answerService" class="com.project.surveyengine.service.impl.AnswerService" autowire="byType"></bean>
    <bean id="blobService" class="com.project.surveyengine.service.impl.BlobService" autowire="byType"></bean>
    <bean id="mailService" class="com.project.surveyengine.service.impl.MailService" autowire="byType"></bean>
    <bean id="responseService" class="com.project.surveyengine.service.impl.ResponseService" autowire="byType"></bean>
    <bean id="customerService" class="com.project.surveyengine.service.impl.CustomerService" autowire="byType"></bean>
    <bean id="userService" class="com.project.surveyengine.service.impl.UserService" autowire="byType"></bean>
    <bean id="roleService" class="com.project.surveyengine.service.impl.RoleService" autowire="byType"></bean>
    <bean id="timelineService" class="com.project.surveyengine.service.impl.TimelineService" autowire="byType"></bean>
    <bean id="customerContactService" class="com.project.surveyengine.service.impl.CustomerContactService" autowire="byType"></bean>
    <bean id="customerExternalRatingService" class="com.project.surveyengine.service.impl.CustomerExternalRatingService" autowire="byType"></bean>
    <bean id="reportService" class="com.project.surveyengine.service.impl.ReportService" autowire="byType"></bean>
    <bean id="customerSTARService" class="com.project.surveyengine.service.impl.CustomerSTARService" autowire="byType"></bean>
    <bean id="ratingTypeService" class="com.project.surveyengine.service.impl.RatingTypeService" autowire="byType"></bean>

</beans>